{{ partial "header.html" . }}

<div class="container">
        <div class="row">
        <div class="col-md-12">
<div class="text-justify">
<h2 class="text-center">Employment</h2>
<div class="bar"></div>
 

<h3>BOARD POSTING</h3>

<p>The Back to Basics Charter School Foundation Board of Directors announces it will accept applications for a vacancy on the Board.  Applicants should email their resume and a Letter of Explanation of their interest in this position to Lew Kirk at lnebkirk@gmail.com AND Tahvia Shaw at tahvia.shaw@tcmstornadoes.  Special consideration will be given to candidates with grant writing experience and/or business/corporate leadership experience. Deadline for submissions are March 3rd, 2017 at 2PM. </p>
 

<p><a href="https://www.surveymonkey.com/r/JZ5TWYP">Online Application & Resume Upload Link</a></p>

 

 

<p>Highly energetic and professional, our faculty members teach a total of 5 classes per day (22 per classroom) and are asked to be available before and after school for extra help tutoring. 

The salary is competitive with that of the school district, and we offer a great benefits package.

Applicants should have a minimum of 2 years of experience (not required), hold a professional or temporary teaching certificate issued by the State of Florida (or a Statement of Eligibility), and be highly qualified.</p>

<h3> Equal Employment Opportunity </h3>
The Back To Basics Charter School Foundation, Inc. is an equal opportunity employer and does not discriminate in its hiring or employment practices on the basis of age, race, sex, color, national origin, religion, sexual orientation, or disability. Discrimination in recruitment, examination, appointment, training, promotion, retention, discipline, or any other employment practice based on one of these improper motives is prohibited. Furthermore, harassment based on a person's race, color, sex, religion, age, national origin, sexual orientation, or disability is a form of discrimination and will not be condoned. Any person having questions about the Back To Basics Charter School Foundation, Inc compliance with Title VII of the Civil Rights Act of 1964, the Americans with Disabilities Act, The Age Discrimination in Employment Act, for any other civil rights laws contact the Office of Employee Relations, Back To Basics Charter School Foundation, Inc, at (813) 987-6555.

</div>
</div>
</div>
<div class="bar"></div>
{{ partial "footer.html" . }}
