<div class="row " >
        <div class="col-md-12" id="footer">
   <ul class="text-center center-block list-inline menufont" >
           <li> <a href="mailto:school.office@tcmstornadoes.com?Subject=Absence">Email Absence</a> </li>
           <li> <a href="/faculty">Faculty</a> </li>
           <li> <a href="/board">Board Of Directors</a> </li>
           <li> <a href="/employment">Employment</a> </li>
           <li> <a href="/support">Support TCMS</a> </li>
    </ul>
    </div>
</div>
<p class="text-center" style="font-size: 0.7em">
Back to Basics Charter School Foundation, Inc.,  <br>
11734 Jefferson Rd Thonotosassa, FL 33592  <br>
Tel: <a href="tel:8139876555">(813) 987-6555</a> Fax: (813) 324-8974  <br>
SDHC School #6606  <a href="/required">Statutorily Required Information </a> <br/>
</p>

<div class="row">
<div class="container">
        <div class="text-center center-block">
               <a href="https://www.facebook.com/tcmstornadoes"><i class="fa fa-facebook-square fa-2x social"></i></a>
    <a href="https://twitter.com/tcmstornadoes"><i class="fa fa-twitter-square fa-2x social"></i></a>
    <a href="mailto:school.office@tcmstornadoes.com"><i class="fa fa-envelope-square fa-2x social"></i></a>
    </div>
</div>
</div>


</div><!-- /.container -->

<!--script href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"> </script-->
<!--script href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"> </script-->
   <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
   <script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

    <script type="text/javascript">
    $(window).resize(function () { 
        $('body').css('padding-top', parseInt($('#main-navbar').css("height")));
    });

    $(window).load(function () { 
        $('body').css('padding-top', parseInt($('#main-navbar').css("height")));         
    }); 

    $(document).ready(function(){
          $('.myslideshow').slick({
             dots: true,
             arrows: true,
             slideToShow: 1,
             speed: 5000,
             autoplay: true,
             autoplaySpeed: 5000
          });
    });
    </script>


</body>
</html>

